
<h1>Listado de empresas</h1>
<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre empresa</th>
      <th scope="col">Persona contacto</th>
      <th scope="col">Cargo que ocupa</th>
      <th scope="col">Teléfono</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Empresa Dummie, S.A.</td>
      <td>Pepito Piñas</td>
      <td>Jefe de RRHH</td>
      <td>926 123 456</td>
      <td>pepepiñas@gmail.com</td>
    </tr>
  </tbody>
</table>
