<div class="seccion">
    <div class="opciones opciones1 m-4 mt-5">
        <a outerLinkActive="active" routerLink="creacion">
            <img src="../../../assets/image/buscar-image.jfif">
            <div class="opcion opcion1 fw-bold">Publicar oferta</div>
        </a>
    </div>
    <div class="opciones opciones2 m-4 mt-5">
        <a outerLinkActive="active" routerLink="listado">
            <img src="../../../assets/image/misofertas-image.jfif">
            <div class="opcion opcion2 fw-bold">Mis ofertas</div>
        </a>
    </div>
</div>