<div class="container mt-5">
    <div class="d-flex justify-content-center display-6 font-weight-bold p-4">Welcome to Users Module</div>
    <!-- Exiting user part -->
    <div class="d-flex justify-content-center fs-4 font-weight-bold p-3">Existing Users</div>

    <div class="d-flex justify-content-center p-3">
        <button type="button" class="btn btn-outline-dark col-sm-1" [routerLink]="['/login']">Login</button>
    </div>
    <!-- New user part -->
    <div class="d-flex justify-content-center fs-4 font-weight-bold p-3">New Users</div>

    <div class="d-flex justify-content-center p-3">
        <button type="button" class="btn btn-outline-dark col-sm-1" [routerLink]="['/register']">Register</button>
    </div>
    <!-- Logout user -->
    <div class="d-flex justify-content-center fs-6 font-weight-bold p-3"><b>You have been logged out</b></div>

</div>