.seccion {
    background-image: url('../../../../../assets/image/fondo.png');
    background-size: 100% 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    align-items: center;
    a {
        all: unset;
    }
    .opciones {
        width: 25rem;
        cursor: pointer;
        img {
            height: 21rem;
            width: 100%;
        }
        transition: 1s;
        &:hover{
            transform: scale(1.05);
            z-index: 2;
            box-shadow: 2px 2px 2px #000;
          }
    }
    .opcion {
        border: 1.5px solid var(--colorSecundario);
        padding: 10px;
        text-align: center;
        width: 100%;
    }
    .opciones1 {
        border: 1.5px solid var(--colorSecundario);
    }
    .opciones2 {
        border: 1.5px solid var(--colorOscuro);
    }
    .opcion1 {
        background-color: var(--colorOscuro);
        color: white;
    }
    .opcion2 {
        background-color: var(--colorSecundario);
    }
}

@media (max-width: 859px) {
    .seccion {
        grid-template-columns: 100%;
    }
}