<div class="row g-5">
    <div class="col-md-2"></div>
    <div class="col-md-10 col-lg-8">
      <h4 class="my-3">Publicacion oferta</h4>
      <form class="needs-validation" novalidate>
        <div class="row g-3">
  
          <div class="col-12">
            <label for="titulo" class="form-label">Titulo</label>
            <input
              type="text"
              class="form-control"
              id="titulo"
              placeholder=""
              value=""
              required
            />
            <div class="invalid-feedback">Se requiere un nombre válido.</div>
          </div>
  
          <div class="col-12">
            <label for="descripcion" class="form-label">Descripcion</label>
            <input
              type="text"
              class="form-control"
              id="descripcion"
              placeholder=""
              required
            />
            <div class="invalid-feedback">
            </div>
          </div>
  
          <div class="col-12">
            <label for="ubicacion" class="form-label">Ubicacion</label>
            <input
              type="text"
              class="form-control"
              id="ubicacion"
              placeholder="Calle, num. - Código Postal, Población (Provincia)"
              value=""
              required
            />
            <div class="invalid-feedback"></div>
          </div>
  
          <div class="col-12">
            <label for="jornada" class="form-label">Tipo de jornada</label>
            <input
              type="text"
              class="form-control"
              id="contactPerson"
              placeholder=""
              value=""
              required
            />
            <div class="invalid-feedback">Se requiere un nombre válido.</div>
          </div>

          <div class="col-12">
            <label for="presencial" class="form-label">Presencial</label>
            <input
              type="text"
              class="form-control"
              id="presencial"
              placeholder=""
              value=""
              required
            />
          </div>

          <div class="col-4 mb-4">
            <button class="btn btn-primary btn-lg" type="submit">
              Publicar oferta
            </button>
          </div>
  
        </div>
      </form>
    </div>
  </div>