<!-- Realizado por Khattari -->
<app-menu></app-menu>
<div class="pagina">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb m-0 pt-2 ml-2">
      <li class="breadcrumb-item"><a outerLinkActive="active" routerLink="..">Inicio</a></li>
      <li class="breadcrumb-item active" aria-current="page">Creacion de usuario</li>
    </ol>
  </nav>
  <div class="container" id="container">
    <div class="form-container sign-up-container">
      <form action="#">
        <h1 class="mb-4">Registrar Empresa</h1>
        <input class="form-control" type="text" placeholder="NIF" />
        <input class="form-control" type="email" placeholder="Email" />
        <input class="form-control" type="password" placeholder="Password" />
        <input class="form-control" type="text" placeholder="Nombre" />
        <input class="form-control" type="text" placeholder="Direccion" />
        <input class="form-control" type="text" placeholder="Contacto" />
        <input class="form-control" type="text" placeholder="Cargo" />
        <input class="form-control" type="text" placeholder="Telefono" />
        <button class="mt-3">Crear usuario</button>
      </form>
    </div>
    <div class="form-container sign-in-container">
      <form action="#">
        <h1 class="mb-4">Registrar alumno</h1>
        <input class="form-control" type="text" placeholder="NIF" />
        <input class="form-control" type="email" placeholder="Email" />
        <input class="form-control" type="text" placeholder="Nombre" />
        <input class="form-control" type="text" placeholder="Apellido 1" />
        <input class="form-control" type="text" placeholder="Apellido 2" />
        <input class="form-control" type="text" placeholder="Telefono" />
        <button class="mt-3">Crear usuario</button>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
            <h1>¿Registrar un alumno?</h1>
            <p>
              Pulsa aquí para registrar un alumno
            </p>
            <button class="ghost" id="signIn">Registrar alumno</button>
        </div>
        <div class="overlay-panel overlay-right">
            <h1>¿Registrar una empresa?</h1>
            <p>Pulsa aquí para registrar una empresa</p>
            <button class="ghost" id="signUp">Registrar empresa</button>
        </div>
      </div>
    </div>
  </div>
  <div id="myModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title">Creación de usuario</h5>
      </div>
      <div class="modal-body">
          <p>El usuario ha sido creado correctamente</p>
      </div>
      <div class="modal-footer ">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      </div>
      </div>
    </div>
  </div>  
</div>
<app-footer></app-footer>