<div class="pagina">
    <h1>Ofertas publicadas</h1>
    <div class="seccion-ofertas">
        <div *ngFor="let oferta of ofertas; index as i" class="oferta">
            <a href="#">
                <h3>{{oferta.titulo}}</h3>
                <p>{{oferta.descripcion}}</p>
            </a>
        </div>
    </div>
</div>


<!-- <table class="table table-dark table-hover table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Titulo</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Lugar</th>
            <th scope="col">Presencialidad</th>
            <th scope="col">Jornada</th>
            <th scope="col">ID Empresa</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let oferta of ofertas; index as i">
            <td>{{oferta.id}}</td>
            <td>{{oferta.titulo}}</td>
            <td>{{oferta.descripcion}}</td>
            <td>{{oferta.lugar}}</td>
            <td>{{oferta.presencial}}</td>
            <td>{{oferta.jornada}}</td>
            <td>{{oferta.id_empresa}}</td>
        </tr>
    </tbody>
</table> -->