<div class="pagina">
    <h1>Ofertas publicadas</h1>
    <div class="seccion-ofertas">
        <div class="oferta">
            <a href="#">
                <h3>Titulo oferta</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Sapiente ea fugiat ullam laborum doloribus nostrum dolore, 
                    quaerat debitis tenetur molestiae nisi natus pariatur accusamus, modi ipsam nesciunt quos, fuga quasi.
                </p>
            </a>
        </div>
        <div class="oferta">
            <a href="#">
                <h3>Titulo oferta</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Sapiente ea fugiat ullam laborum doloribus nostrum dolore, 
                    quaerat debitis tenetur molestiae nisi natus pariatur accusamus, modi ipsam nesciunt quos, fuga quasi.
                </p>
            </a>
        </div>
        <div class="oferta">
            <a href="#">
                <h3>Titulo oferta</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Sapiente ea fugiat ullam laborum doloribus nostrum dolore, 
                    quaerat debitis tenetur molestiae nisi natus pariatur accusamus, modi ipsam nesciunt quos, fuga quasi.
                </p>
            </a>
        </div>
        <div class="oferta">
            <h3>Titulo oferta</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Sapiente ea fugiat ullam laborum doloribus nostrum dolore, 
                quaerat debitis tenetur molestiae nisi natus pariatur accusamus, modi ipsam nesciunt quos, fuga quasi.
                </p>
        </div>
        <div class="oferta">
            <a href="#">
                <h3>Titulo oferta</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Sapiente ea fugiat ullam laborum doloribus nostrum dolore, 
                    quaerat debitis tenetur molestiae nisi natus pariatur accusamus, modi ipsam nesciunt quos, fuga quasi.
                </p>
            </a>
        </div>
    </div>
</div>