// .registro{
//   background-color: var(--colorPrimario);
//   border-radius: 10px;
//   padding: 20px;
//   margin: 20px;
//   border-color: var(--colorSecundarioClaro);
//   border-style: solid;
//   border-width: 13px;
//   box-shadow: 0px 0px 10px var(--colorOscuroSombra);
//   width: 80%;
//   font-size: 12pt;
//   }


//   .registro input{
//     background-color: white;
//     border-radius: 10px;
//     padding: 20px;
//     margin: 20px;
//     border-color: var(--colorSecundarioClaro);
//     border-style: solid;
//     border-width: 13px;
//     box-shadow: 0px 0px 10px var(--colorOscuroSombra);
//   }


//   .registro button{
//     background-color: var(--colorSecundarioClaro);
//     border-radius: 10px;
//     padding: 20px;
//     margin: 20px;
//     border-color: var(--colorSecundarioClaro);
//     border-style: solid;
//     border-width: 13px;
//     box-shadow: 0px 0px 10px var(--colorOscuroSombra);
//     text-size-adjust: 25px;
//   }
.registro{
  background-color: var(--colorSecundarioClaro);
  border-color: var(--colorPrimario);
}




.registro input{
 background-color: white;
 border-radius: 10px;
 padding: 10px;
 margin: 10px;
 border-color: var(--colorSecundarioClaro);
 border-style: solid;
 border-width: 5px;
 box-shadow: 0px 0px 10px var(--colorOscuroSombra);
}
.registro button{

      border-radius: 5px;
      padding: 10px;
      margin: 10px;
      border-color: var(--colorPrimario);
      border-style: solid;
      border-width: 5px;
      box-shadow: 0px 0px 10px var(--colorOscuroSombra);
      text-size-adjust: 25px;
    }

  .registro button:hover{
    background-color: var(--colorPrimario);
    color: white;
  }

  .datos{
    background-color: white;
  }
