<div class="header_logo">
  <img src="../../assets/Maestría.png" />
  <h3 class="text-primary">CIFP Virgen de Gracia</h3>
</div>
<div class="registro">
  <div class="d-flex justify-content-center display-4 font-weight-bold p-1 text-light datos"><b>Registro</b></div>
  <form [formGroup]="registerForm">
    <div class="container mt-5">
      <div class="d-flex p-3">
        <button type="button" class="btn btn-light col-sm-2" outerLinkActive="active" routerLink="welcome">Volver</button>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-2">
          <label class="col-form-label font-weight-bold p-1 text-primary titulo datos2">NIF</label>
        </div>
        <div class="col-3">
          <input type="text" class="form-control border border-dark" formControlName="nif"
            [ngClass]="{'is-invalid': (registerForm.get('nif')?.touched) && !registerForm.get('nif')?.valid}"
            placeholder="NIF (required)">
          <!-- Mensajes de error -->
          <span class="invalid-feedback">
            <span *ngIf="registerForm.get('nif')?.errors?.['required']">Por favor introduce tu Nif</span>
            <span *ngIf="registerForm.get('nif')?.errors?.['pattern']">Por favor introduce un Nif válido</span>
          </span>
        </div>
      </div>
      <br>
      <div class="row d-flex justify-content-center">
        <div class="col-2 ">
          <label class="col-form-label font-weight-bold p-1 text-primary datos2">Seudónimo</label>
        </div>
        <div class="col-3">
          <input type="nick" class="form-control border border-dark" formControlName="nick"
            [ngClass]="{'is-invalid': (registerForm.get('nick')?.touched) && !registerForm.get('nick')?.valid}"
            placeholder="Nick (required)">
          <!-- Error mensajes alerta campos vacios -->
          <span class="invalid-feedback">
            <span *ngIf="registerForm.get('nick')?.errors?.['required']">Por favor introduce tu Nick</span>
          </span>
        </div>
      </div>
      <br>
      <div class="row d-flex justify-content-center">
        <div class="col-2">
          <label class="col-form-label font-weight-bold p-1 text-primary titulo datos2">Email</label>
        </div>
        <div class="col-3">
          <input type="text" class="form-control border border-dark" formControlName="email"
            [ngClass]="{'is-invalid': (registerForm.get('email')?.touched) && !registerForm.get('email')?.valid}"
            placeholder="Email (required)">
          <!-- Error mensajes alerta campos vacios -->
          <span class="invalid-feedback">
            <span *ngIf="registerForm.get('email')?.errors?.['required']">Por favor introduce tu email</span>
            <span *ngIf="registerForm.get('email')?.errors?.['pattern']">Por favor introduce un email válido</span>
          </span>
        </div>
      </div>
      <br>
      <div class="row d-flex justify-content-center">
        <div class="col-2 ">
          <label class="col-form-label font-weight-bold p-1 text-primary titulo datos2">Password</label>
        </div>
        <div class="col-3">
          <input type="password" class="form-control border border-dark" formControlName="password"
            [ngClass]="{'is-invalid': (registerForm.get('password')?.touched) && !registerForm.get('password')?.valid}"
            placeholder="Password (required)">

          <!-- Error mensajes alerta campos vacios -->
          <span class="invalid-feedback">
            <span *ngIf="registerForm.get('password')?.errors?.['required']">Por favor introduce tu password</span>
          </span>
      </div>
      <br>

      <div class="row d-flex justify-content-center">
        <div class="col-2">
          <label class="col-form-label font-weight-bold p-1 text-primary titulo datos2">Repite Password</label>
        </div>
        <div class="col-3">
          <input type="password" class="form-control border border-dark" formControlName="confirmPassword"
            [ngClass]="{'is-invalid': (registerForm.get('confirmPassword')?.touched) && !registerForm.get('confirmPassword')?.valid}"
            placeholder="Confirm Password (required)">

          <span class="invalid-feedback">
            <!-- Campos obligatorios -->
            <span *ngIf="f['confirmPassword'].getError('required')!=null">Por favor introduce un password de
              confirmación</span>
            <!-- Campos obligatorios -->
            <span *ngIf="f['confirmPassword'].getError('passwordMatch')!=null">Los passwords no coinciden</span>
          </span>
        </div>
      </div>

      <div class="d-flex justify-content-center p-4">
        <button type="submit" class="btn btn-light col-sm-2" [disabled]="!registerForm.valid"
          (click)='register()'>Registro</button>
      </div>
    </div>
    </div>
  </form>
</div>
