<app-menu></app-menu>
<div class="pagina pb-5">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb m-0 pt-2 pl-2">
      <li class="breadcrumb-item"><a outerLinkActive="active" routerLink="../../..">Inicio</a></li>
      <li class="breadcrumb-item"><a outerLinkActive="active" routerLink="../..">Gestión</a></li>
      <li class="breadcrumb-item active" aria-current="page">Edición</li>
    </ol>
  </nav>
    <h1 class="text-center mb-4 pt-2">Edición de usuario</h1>
    <div class="container p-5 formulario">
      <form class="row g-3" ngNativeValidate>
        <div class="col-md-4">
          <label for="nif" class="form-label fw-bold">NIF</label>
          <input disabled type="text" class="form-control" id="nif" name="nif" [(ngModel)]="alumnoSend.nif" [ngModelOptions]="{standalone: true}"
           required value={{alumnoSend.nif}}>
        </div>
        <div class="col-md-4">
          <label for="nombre" class="form-label fw-bold">Nombre</label>
          <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="alumnoSend.nombre" [ngModelOptions]="{standalone: true}"
           required value={{alumnoSend.nombre}}>
        </div>
        <div class="col-md-4">
          <label for="email" class="form-label fw-bold">Correo</label>
          <input type="text" class="form-control" id="email" [(ngModel)]="alumnoSend.email" [ngModelOptions]="{standalone: true}"
          required value={{alumnoSend.email}}>
        </div>
        <div class="col-md-4">
            <label for="password" class="form-label fw-bold">Contraseña</label>
            <input type="text" class="form-control" id="password" [(ngModel)]="alumnoSend.password" [ngModelOptions]="{standalone: true}"
            required value={{alumnoSend.password}}>
        </div>
        <div class="col-md-4">
            <label for="apellido1" class="form-label fw-bold">Apellido 1</label>
            <input type="text" class="form-control" id="apellido1" [(ngModel)]="alumnoSend.apellido1" [ngModelOptions]="{standalone: true}"
            required value={{alumnoSend.apellido1}}>
        </div>
        <div class="col-md-4">
            <label for="apellido2" class="form-label fw-bold">Apellido 2</label>
            <input type="text" class="form-control" id="apellido2" [(ngModel)]="alumnoSend.apellido2" [ngModelOptions]="{standalone: true}"
            required value={{alumnoSend.apellido2}}>
        </div>
        <div class="col-md-12 d-flex justify-content-around">
          <button type="submit" outerLinkActive="active" routerLink="../.." (click)="guardar()" class="btn btn-primary">Guardar</button>
          <button outerLinkActive="active" routerLink="../.." class="btn btn-danger">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
  <app-footer></app-footer>