<div class="navbar-collapse collapse menu mt-2 aparecepequenio" id="navbarExample04" style>
  <div class="info-perfil justify-content-start d-flex align-items-center ms-5 me-5 pb-4 pt-4 mb-4">
    <div>
      <img>
    </div>
    <div>
      <h5 class="mb-1">Company name</h5>
    </div>
  </div>
  <ul class="navbar-nav me-auto mb-md-0">
    <li class="nav-item pt-1 pb-1 ps-5 pe-3">
      <a class="nav-link" href="#"><i class="fa-solid fa-house me-3"></i>&nbsp;&nbsp;&nbsp;Inicio</a>
    </li>
    <li class="nav-item pt-1 pb-1 ps-5 pe-3">
      <a class="nav-link" href="#"><i class="fa-solid fa-building me-3"></i>&nbsp;&nbsp;&nbsp;Datos Empresa</a>
    </li>
    <li class="nav-item pt-1 pb-1 ps-5 pe-3">
      <a class="nav-link" href="#"><i class="fa-solid fa-briefcase me-3"></i>&nbsp;&nbsp;&nbsp;Ofertas publicadas</a>
    </li>
    <li class="nav-item pt-1 pb-1 ps-5 pe-3">
      <a class="nav-link"><i class="fa-solid fa-file me-3"></i>&nbsp;&nbsp;&nbsp;Buscar candidatos</a>
    </li>
    <li class="nav-item dropdown-toggle pestania-submenu pt-1 pb-1 ps-5 pe-3 d-flex align-items-center" data-bs-toggle="dropdown" aria-expanded="false"><a class="nav-link"><i class="fa-solid fa-user me-3"></i>&nbsp;&nbsp;&nbsp;Mi perfil</a>&nbsp;&nbsp;</li>
      <ul class="submenu p-0 m-0 mt-md-4 dropdown-menu border-end-0 border-start-0 box-shadow-sm" data-bs-popper="static">
        <li class="p-2 ps-5"><a class="p-1 ps-5 ms-4 text-decoration-none">Mis datos</a></li>
        <li class="p-2 ps-5"><a class="p-1 ps-5 ms-4 text-decoration-none">Mis ofertas</a></li>
        <li class="p-2 ps-5"><a class="p-1 ps-5 ms-4 text-decoration-none">Contacto</a></li>
      </ul>
    <li class="nav-item pt-1 pb-1 ps-5 pe-3">
      <a class="nav-link"><i class="fa-solid fa-right-to-bracket  me-3"></i>&nbsp;&nbsp;&nbsp;Cerrar Sesión</a>
    </li>
  </ul>
</div>
<div class="desaparecepequenio menu-pc">
  <ul class="navbar text-decoration-none d-flex justify-content-end m-0 pe-lg-5">
    <li class="nav-item p-1">
      <a class="nav-link" href="#">Inicio</a>
    </li>
    <li class="nav-item p-1 m-2">
      <a class="nav-link" href="#">Publicar ofertas</a>
    </li>
    <li class="nav-item p-1 m-2">
      <a class="nav-link" href="#">Buscar candidatos</a>
    </li>
    <li class="nav-item dropdown rounded-4 text-center pestania-submenu pt-1 pb-1 ps-3 pe-3 m-2 d-flex align-items-center">
      <a class="nav-link dropdown-toggle rounded-4 ps-lg-2 pe-lg-2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa-solid fa-user me-2"></i>User Name
      </a>
      <ul class="submenu pt-lg-5 pb-lg-3 box-shadow-sm text-center text-decoration-none dropdown-menu" data-bs-popper="static">
        <li class="p-lg-1"><a class="text-decoration-none">Datos Empresa</a></li>
        <li class="p-lg-1"><a class="text-decoration-none">Mis ofertas</a></li>
        <li class="p-lg-1"><a class="text-decoration-none">Contacto</a></li>
        <li class="p-lg-1"><a class="text-decoration-none">Cerrar Sesión</a></li>
      </ul>
    </li>
  </ul>
</div>
