<div class="pagina pb-5">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb m-0 pt-2 pl-2">
      <li class="breadcrumb-item"><a>Inicio</a></li>
      <li class="breadcrumb-item"><a outerLinkActive="active" routerLink="../../..">Ofertas</a></li>
      <li class="breadcrumb-item"><a outerLinkActive="active" routerLink="../..">Mis Ofertas</a></li>
      <li class="breadcrumb-item active" aria-current="page">Edición</li>
    </ol>
  </nav>
    <h1 class="text-center mb-4 pt-2">Edición de oferta</h1>
    <div class="container p-5 formulario">
      <form class="row g-3" ngNativeValidate>
        <div class="col-md-4">
          <label for="titulo" class="form-label fw-bold">Titulo</label>
          <input type="text" class="form-control" id="titulo" [(ngModel)]="oferta.titulo" [ngModelOptions]="{standalone: true}"
           required value={{oferta.titulo}}>
        </div>
        <div class="col-md-4">
          <label for="direccion" class="form-label fw-bold">Dirección</label>
          <input type="text" class="form-control" id="direccion" [(ngModel)]="oferta.lugar" [ngModelOptions]="{standalone: true}"
           required value={{oferta.lugar}}>
        </div>
        <div class="col-md-4">
          <label for="jornada" class="form-label fw-bold">Jornada</label>
          <input type="text" class="form-control" id="jornada" [(ngModel)]="oferta.jornada" [ngModelOptions]="{standalone: true}"
          required value={{oferta.jornada}}>
        </div>
        <div class="col-md-12">
          <label for="descripcion" class="form-label fw-bold">Descripcion</label>
          <textarea class="form-control" ngModel minlength="250" id="descripcion" rows="3" [(ngModel)]="oferta.descripcion" [ngModelOptions]="{standalone: true}">{{oferta.descripcion}}</textarea>
        </div>
        <div class="col-md-4">
          <label for="presencial" class="form-label fw-bold">Presencial</label>
          <div class="form-check">
            <input id="opcionSi" class="form-check-input" type="radio" name="presencial" required [(ngModel)]="oferta.presencial" value="1">
            <label class="form-check-label" for="opcionSi">
              Si
            </label>
          </div>
          <div class="form-check">
            <input id="opcionNo" checked class="form-check-input" type="radio" name="presencial" required [(ngModel)]="oferta.presencial" value="0">
            <label class="form-check-label" for="opcionNo">
              No
            </label>
          </div>
        </div>
        <div class="col-md-12 d-flex justify-content-around">
          <button type="submit" outerLinkActive="active" routerLink="../.." (click)="guardar()" class="btn btn-primary">Guardar</button>
          <button outerLinkActive="active" routerLink="../.." class="btn btn-primary">Cancelar</button>
        </div>
      </form>
    </div>
  </div>