<div class="container mt-5" id="welcome">
  <div class="header">
    <div class="d-flex justify-content-center">
      <section class="datos">
        <div class="d-flex justify-content-center display-2 font-weight-bold p-5 text-warning">Bienvenidos</div>
        <!-- Usuarios -->

        <div class="d-flex justify-content-center p-3" id="botonW">
          <button type="button" class="btn btn-light col-sm-4" outerLinkActive="active" routerLink="login">Login</button>
        </div>
        <!-- Nuevos Usuarios -->

        <div class="d-flex justify-content-center p-3" id="botonW">
          <button type="button" class="btn btn-light col-sm-4" outerLinkActive="active" routerLink="register">Registro</button>
        </div>
      </section>
      <!-- Footer -->
      <footer class="d-flex justify-content-center p-3">

      </footer>
    </div>
  </div>
