
#welcome{
  background-image: url("../../../../assets/logosemp.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
}
.datos{
background-color: var(--colorPrimario);
border-radius: 10px;
padding: 20px;
margin: 20px;
border-color: var(--colorSecundarioClaro);
border-style: solid;
border-width: 23px;
box-shadow: 0px 0px 20px var(--colorSecundarioClaro);
width: 100%;
.truncate {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
}

.datos h1{
  color: var(--colorClaro);
  font-family: var(--tipoNombre);
  font-size: 30pt;
  text-align: center;
}
#botonW{
box-shadow:0px 0px 30px var(--colorSecundarioClaro);
}
button{
  background-color: var(--colorOscuroSombra);
  color: var(--colorSecundarioClaro);
  font-family: var(--tipoNombre);
  font-size: 20pt;
  border-radius: 10px;
  border-color: var(--colorSecundarioClaro);
  border-style: solid;
  border-width: 5px;
  padding: 10px;
  margin: 10px;
  width: 50%;
  box-shadow: 0px 0px 20px var(--colorOscuroSombra);

}
button:hover{
  background-color: var(--colorSecundarioClaro);
  color: var(--colorOscuroSombra);
  box-shadow: 0px 0px 20px var(--colorSecundarioClaro);
}

// móviles (telefono, 576px y más grande)
@media (min-width: 576px) {
  .datos{
    width: 100%;

  }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .datos{
    width: 90%;
  }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .datos{
    width: 70%;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .datos{
    width: 60%;
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  .datos{
    width: 80%;
    text-size-adjust: 100%;
  }
 }
