#myFile {
  width: 150px;
  height: 150px;
  background-size: contain;
  input {
    opacity: 0;
    width: 100%;
    height: 100%;
    &:hover {
      cursor: pointer;
    }
  }
}

a {
  all: unset;
}

.breadcrumb {
  position: relative;
  left: 1rem;
  width: 90%;
}
.breadcrumb-item {
  &:hover {
      cursor: pointer;
  }
  color: var(--colorSecundario);
  -webkit-text-stroke: 0.2px var(--colorOscuroSombra);
}
.active {
  color: gray;
}

.pagina {
  background-image: url('../../../../assets/image/fondo.png');
  background-size: 100% 100%;
  height: 70vh;
}

svg{
  position: absolute;
  z-index: -1;
}
.card{
  .tarjeta{
    background-color: var(--colorClaro);
    .contenedor-foto{
      background-color: var(--colorClaro);
      img{
        width: 200px;
        z-index: 1;
        display: block;
      }
      h4{
        font-family: var(--titulo);
        position: relative;
        display: inline;
	      z-index: 1;
        &:after{
          position: absolute;
          content: '';
          display: block;
          z-index: -1;
          background: var(--colorSecundario);
          width: calc(100% + 12px);
          height: 12px;
          bottom: 1px;
          left: calc(12px / -2);
          transition: 0.3s cubic-bezier(.03,.3,.4,.96);
          transform: skew(-10deg);
        }
      }
      h6{
        font-family:var(--tipoSubtitulo);
      }
      button{
        z-index: 1;
        background-color: var(--colorSecundarioClaro);
        border: none;
        &:hover{
          background-color: var(--colorSecundario);
        }
      }
    }
  }
  .info-perfil{
    .card-body{
      background-color: #fff;
      .etiqueta{
        background-color: var(--colorSecundario);
        h5{
          font-family: var(--titulo);
          color: var(--colorClaro);
        }
      }
      .timeline {
        border-left: 1px solid #ebebeb;
        position: relative;
        list-style: none;
        .timeline-item {
          position: relative;
          &:after{
            position: absolute;
            display: block;
            top: 5px;
            background-color: var(--colorSecundario);
            left: -18px;
            border-radius: 50%;
            height: 12px;
            width: 12px;
            content: "";
          }
        }
      }
    }
  }
}


