<app-menu></app-menu>
<div class="pagina pb-3">
  <ol class="breadcrumb m-0 pt-2 pl-2">
    <li class="breadcrumb-item"><a outerLinkActive="active" routerLink="..">Inicio</a></li>
    <li class="breadcrumb-item active" aria-current="page">Perfil</li>
</ol>
<div>
  <div class="container p-5">
    <div class="row d-flex justify-content-center">
      <div class="card mb-3 rounded-3 shadow mb-5 bg-body">
        <div class="row tarjeta">
          <div class="col-md-4  ps-4 text-center contenedor-foto"
            style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
            <div style="background-image: url({{user[1].image}});" id="myFile" class="img-thumbnail m-auto mt-5 mb-3 rounded-4"><input type="file" id="inputImagen" class="form-control border border-dark" placeholder="Imagen (opcional)"
              (change)="getFile($event)"></div>
            
            <div class="subirImg">
              
              </div>
              <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary"
                  (click)="sendFile()">Subir Imagen</button>
              </div>

            <h4>{{user[0].nombre}}</h4>
            <h6 class="mt-3">{{user[0].email}}</h6>
            <div class="d-grid gap-3 col-6 mx-auto mt-5">
            </div>
          </div>
          <div class="col-md-8 p-0">
            <div class="card-body p-4 info-perfil">
              <div class="card-body p-0 shadow-sm mb-4 bg-body rounded-2">
                <div class="card-body p-4 ps-5 rounded-top etiqueta">
                  <h5 class="m-0">INFORMACIÓN PERSONAL</h5>
                </div>
                <div class=" ps-5 mb-4 card-body rounded-2">
                  <div class="pt-1">
                    <div class="mb-3">
                      <h6>Nombre</h6>
                      <p class="text-muted">{{user[0].nombre}}</p>
                    </div>
                    <div class="mb-3">
                      <h6>Apellidos</h6>
                      <p class="text-muted">{{user[1].apellido1}} {{user[1].apellido2}}</p>
                    </div>
                    <div class="mb-3">
                      <h6>DNI</h6>
                      <p class="text-muted">{{user[0].nif}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="myModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Nueva oferta</h5>
        </div>
        <div class="modal-body">
            <p>Una nueva oferta ha sido publicada</p>
        </div>
        <div class="modal-footer d-flex justify-content-around">
            <button type="button" (click)="cerrar()" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
        </div>
        </div>
    </div>
  </div>
</div>
</div>
<app-footer></app-footer>