.pagina {
    background-image: url('../../../../../assets/image/fondo.png');
    background-size: 100% 100%;
}

h1 {
    -webkit-text-stroke: 1.3px var(--colorOscuroSombra);
    color: var(--colorSecundario);
}

.btn-primary {
    background-color: var(--colorSecundario);
    border: 2px solid var(--colorOscuro);
    color: var(--colorOscuro);
    font-weight: bold;
}

svg{
    position: absolute;
    z-index: -1;
  }
a {
    all: unset;
}


.oferta {
    background-color: white;
    border-radius: 20px;
    transition: 1s;
}

@media (min-width: 910px) {
    .oferta {
        transition: 1s;
    }
    .oferta:hover{
        transform: scale(1.1);
		z-index: 2;
		box-shadow: 2px 2px 2px #000;
      }
}