.pagina {
    background-image: url('../../../../../assets/image/fondo.png');
    background-size: 100% 100%;
}

h1 {
    -webkit-text-stroke: 1.3px var(--colorOscuroSombra);
    color: var(--colorSecundario);
}

.btn-primary {
    background-color: var(--colorSecundario);
    border: 2px solid var(--colorOscuro);
    color: var(--colorOscuro);
    font-weight: bold;
}

svg{
    position: absolute;
    z-index: -1;
  }
a {
    all: unset;
}


.oferta {
    background-color: white;
    border-radius: 20px;
    transition: 1s;
    border: 1px solid var(--colorOscuro);
    .card-text {
        height: 100px; 
        overflow: hidden;
    }
}

.breadcrumb {
    position: relative;
    left: 1rem;
    width: 90%;
}
.breadcrumb-item {
    &:hover {
        cursor: pointer;
    }
    color: var(--colorSecundario);
    -webkit-text-stroke: 0.2px var(--colorOscuroSombra);
}
.active {
    color: gray;
}

.controles ::ng-deep .ngx-pagination {margin: 0;}
.controles ::ng-deep .ngx-pagination li:not([class]) a:hover {background-color: var(--colorOscuro); color: white;}
.controles ::ng-deep .ngx-pagination .current {background: var(--colorOscuro);}
.controles ::ng-deep .ngx-pagination .disabled {color: rgb(93, 93, 93);}
.controles ::ng-deep .ngx-pagination .pagination-next a:hover {background-color: rgba(255, 0, 0, 0);}
.controles ::ng-deep .ngx-pagination .pagination-previous a:hover {background-color: rgba(255, 0, 0, 0);}

@media (min-width: 910px) {
    .oferta {
        transition: 1s;
    }
    .oferta:hover{
        transform: scale(1.1);
		z-index: 2;
		box-shadow: 2px 2px 2px #000;
      }
}