<div class="pagina">
    <h1 class="text-center mb-4 mt-2">Ofertas publicadas</h1>
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col d-flex justify-content-center" *ngFor="let oferta of ofertas; index as i">
                <div class="card oferta mb-5" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{oferta.titulo}}</h5>
                        <p class="card-text" maxlenght="1">{{oferta.descripcion}}</p>
                        <button class="btn btn-primary"><a outerLinkActive="active" [routerLink]="[oferta.id]">Ver Oferta</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>