
a {
    all: unset;
}


.oferta {
    background-color: white;
    border-radius: 20px;
    cursor: pointer;
    transition: 1s;
}

@media (min-width: 910px) {
    .oferta {
        transition: 1s;
    }
    .oferta:hover{
        transform: scale(1.1);
		z-index: 2;
		box-shadow: 2px 2px 2px #000;
      }
}