nav{
  background-color: var(--colorSecundario);
  .contenedor-menu{
    width: 100%;
  }
  div{
    div{
      .logo-menu{
        width: 28%;
        img{
          width: 100%;
        }
      }
      div{
        h5{
          color: var(--colorOscuro);
          font-size: 12pt;
          font-family: var(--tipoNomenclatura);
        }
        h6{
          color: var(--colorOscuro);
          font-size: 10pt;
          font-family: var(--tipoNomenclatura);
          margin: 0;
        }
      }
    }
  }
  button{
    &.navbar-toggler{
      color: var(--colorOscuro);
      border: none;
      &:focus{
        box-shadow: none;
      }
    }
  }
  .menu{
    background-color: var(--colorOscuro);
    .info-perfil{
      border-bottom: 2px solid var(--colorSecundario);
      div{
        h5{
          font-family: var(--tipoNombre);
          color: var(--colorClaro);
        }
      }
    }
    ul{
      li{
        background-color: var(--colorOscuro);
        border-left: 5px solid var(--colorOscuro);
        font-family: var(--pesoMenu);
        a{
          color: var(--colorClaro);
          font-size: var(--tamMenuEnlace);
          i{
            color: var(--colorSecundario);
          }
        }
        &:hover{
          border-left: 5px solid var(--colorSecundario);
          border-right: 5px solid var(--colorSecundario);
          background-color: var(--colorSecundarioClaro);
          font-family: var(--pesoMenuHover);
          a{
            color: var(--colorOscuro);
            i{
              color: var(--colorOscuro);
            }
          }
        }
      }
      .pestania-submenu{
        background-color: var(--colorOscuro);
        color: var(--colorSecundario);
        &:hover{
          color: var(--colorOscuro);
          border-left: 5px solid var(--colorSecundario);
          border-right: 5px solid var(--colorSecundario);
          background-color: var(--colorSecundarioClaro);
          font-family: var(--pesoMenuHover);
        }
      }
      .submenu{
        border-top: 2px solid var(--colorSecundario);
        border-bottom: 2px solid var(--colorSecundario);
        li{
          border-left: 5px solid var(--colorOscuroSombra);
          background-color: var(--colorOscuroSombra);
          font-family: var(--pesoSubmenu);
          a{
            font-family: var(--pesoSubmenu);
            color: var(--colorClaro);
          }
          &:hover{
            border-left: 5px solid var(--colorSecundario);
            border-right: 5px solid var(--colorSecundario);
            background-color: var(--colorSecundarioClaro);
            a{
              color: var(--colorOscuro);
              font-family: var(--pesoMenuHover);
            }
          }
        }
      }
      .aparecepequenio{
        display: block;
      }
    }
  }
  .desaparecepequenio{
    display: none;
  }
}















/*
nav{
  div{
    ul{
      list-style: none;
      text-decoration: none;
      li{
        color: var(--colorOscuro);
      }
      /* .pestania-submenu{
        position: relative;
        margin: 0;
        background-color: var(--colorSecundarioClaro);
        .aparecepequenio{
          display: none;
        }
        .flecha{
          position: absolute;
          right: 14pt;
          top: 40px;
          font-size: 24pt;
          color: var(--colorClaro);
          //display: none;
          //opacity: 0;
        }
        .submenu{
          top: 37px;
          border-radius: 1rem;
          padding: 1rem 0 1rem 0;
          background-color: var(--colorClaro);
          position: absolute;
          right: 0;
          width: 200px;
          //display: none;
          //opacity: 0;
          z-index: 50;
          box-shadow: 0 3px 4px rgba(0,0,0,.2);
          li{
            background-color: var(--colorClaro);
            a{
              text-decoration: none;
              color: var(--colorOscuro);
            }
          }
        }
        &:hover{
          .submenu, .flecha{
            display: block;
            opacity: 1;
            li{
              &:hover{
                border-left: 5px inset var(--colorOscuro);
                border-right: 5px inset var(--colorOscuro);
                background-color: var(--colorSecundarioClaro);
              }
            }
          }
        }
      }
    }
  }*/

  @media (min-width: 576px) {


  }


  @media (min-width: 992px) {
    nav{
      .contenedor-menu{
        width: auto;
      }
      .desaparecepequenio{
        display: block;
      }
      div{
        .aparecepequenio{
          display: none;
        }
        div{
          .logo-menu{
            width: 28%;
            img{
              width: 100%;
            }
          }
          div{
            h5{
              color: var(--colorOscuro);
            }
            h6{
              color: var(--colorOscuro);
              margin: 0;
            }
          }
        }
        ul{
          list-style: none;
          text-decoration: none;
          li{
            color: var(--colorOscuro);
          }
          .pestania-submenu{
            position: relative;
            margin: 0;
            background-color: var(--colorSecundarioClaro);
            .aparecepequenio{
              display: none;
            }
          }
          .flecha{
            position: absolute;
            right: 50pt;
            top: 54px;
            font-size: 24pt;
            color: var(--colorClaro);
            //display: none;
            //opacity: 0;
          }
          .submenu{
            top: 72px;
            border-radius: 1rem;
            padding: 1rem 0 1rem 0;
            background-color: var(--colorClaro);
            position: absolute;
            width: 200px;
            display: none;
            //opacity: 0;
            z-index: 50;
            box-shadow: 0 3px 4px rgba(0,0,0,.2);

            li{
              background-color: var(--colorClaro);
              a{
                text-decoration: none;
                color: var(--colorOscuro);
              }
            }
          }
          &:hover{
            .submenu, .flecha{
              display: block;
              opacity: 1;
              li{
                &:hover{
                  border-left: 5px inset var(--colorOscuro);
                  border-right: 5px inset var(--colorOscuro);
                  background-color: var(--colorSecundarioClaro);
                }
              }
            }
          }
        }
      }
    }
  }



