<head>
  <script src="https://accounts.google.com/gsi/client" async defer></script>
</head>
<div class="alumno-inicio">
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active color-carousel">
        <div class="color-multiplicar"></div>
        <img src="../../../../assets/image/carrusel1.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block mb-5">
          <h1 class="text-start mb-4">¡Date a conocer!</h1>
          <h6 class="text-start mb-5">Crea tu Curriculum rellenando nuestro formulario</h6>
        </div>
      </div>
      <div class="carousel-item color-carousel">
        <div class="color-multiplicar"></div>
        <img src="../../../../assets/image/carrusel2.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block mb-5">
          <h1 class="text-start mb-4">¡Suscribete a nuevas ofertas!</h1>
          <h6 class="text-start mb-5">Entra en nuestra sección de ofertas y encuentra el empleo perfecto para ti</h6>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="info-alumno">
    <svg class="pc" id="visual" viewBox="0 0 960 500" xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
      <rect x="0" y="0" fill="#F8F8F8"></rect>
      <g transform="translate(960, 0)">
        <path
          d="M0 324C-46.1 321 -92.1 318 -121.7 293.8C-151.2 269.6 -164.3 224.1 -195.2 195.2C-226.1 166.2 -274.9 153.8 -299.3 124C-323.8 94.2 -323.9 47.1 -324 0L0 0Z"
          fill="#FCB541"></path>
      </g>
      <g transform="translate(0, 500)">
        <path
          d="M0 -324C42.6 -319.8 85.2 -315.7 124 -299.3C162.8 -283 197.7 -254.4 221.3 -221.3C245 -188.2 257.3 -150.5 272.5 -112.9C287.8 -75.2 305.9 -37.6 324 0L0 0Z"
          fill="#6897E5"></path>
      </g>
    </svg>

    <svg class="movil" id="visual" viewBox="0 0 540 960" xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
      <rect x="0" y="0" width="540" height="960" fill="#F8F8F8"></rect>
      <g transform="translate(540, 960)">
        <path
          d="M-324 0C-311.9 -41.3 -299.7 -82.6 -279.9 -116C-260.1 -149.3 -232.7 -174.8 -207.2 -207.2C-181.7 -239.5 -158.2 -278.7 -124 -299.3C-89.8 -319.9 -44.9 -322 0 -324L0 0Z"
          fill="#FCB541"></path>
      </g>
      <g transform="translate(0, 0)">
        <path
          d="M324 0C309.2 39.5 294.3 78.9 277.2 114.8C260 150.7 240.5 183 215.7 215.7C190.9 248.3 160.8 281.2 124 299.3C87.2 317.4 43.6 320.7 0 324L0 0Z"
          fill="#6897E5"></path>
      </g>
    </svg>
    <div class="row g-0">
      <div class="col-lg-5 col-12">
        <div class="recuadro-imagen d-flex align-items-center">
          <img src="../../../../assets/image/img_alumno.jpg" class="image-alumno m-auto mt-5 mt-md-5 mt-lg-auto shadow-lg bg-body">
        </div>
      </div>
      <div class="col-lg-7 col-12 d-flex align-items-center mb-5">
        <div class="col-11 destacado-alumno mb-5">
          <p class="entradilla">
            <i class="fa-solid fa-quote-left"></i>
            ¡Bienvenido a nuestra bolsa de empleo!
            <i class="fa-solid fa-quote-right"></i>
          </p>
          <p class="contenedor-texto">Podrás crear tu propio Curriculum, suscribirte a ofertas de empleo que mejor se
            adapten a ti e informarte de las diferentes empresas que colaboran con nosotros.
          </p>
          <h5 class="text-center">Tu futuro comienza ahora</h5>
        </div>
      </div>
    </div>
  </div>
</div>
