<app-menu></app-menu>
<div class="pagina pb-3">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb m-0 pt-2 ml-2">
      <li class="breadcrumb-item"><a outerLinkActive="active" routerLink="../inicioempresa">Inicio</a></li>
      <li class="breadcrumb-item"><a outerLinkActive="active" routerLink="../interfazempresa">Empresa</a></li>
      <li class="breadcrumb-item active" aria-current="page">Datos empresa</li>
    </ol>
  </nav>

  <div class="container">

    <div class="row align-items-center justify-content-evenly">
      <div class="formulario col-md-10 col-lg-8">
        <h4 class="my-3">Datos de la empresa</h4>
        <form class="needs-validation" novalidate>
          <div class="row g-3">

            <div class="col-lg-6 col-md-12">
              <label for="nifEmpresa" class="form-label">N.I.F.</label>
              <input type="text" class="form-control" id="nifEmpresa" readonly value={{user[0].nif}}/>
            </div>

            <div class="col-12">
              <label for="companyName" class="form-label">Nombre / Razón social</label>
              <input type="text" class="form-control" id="companyName" placeholder="" value={{user[0].nombre}} readonly/>
              <div class="invalid-feedback">Se requiere el nombre de la empresa.</div>
            </div>

            <div class="col-12">
            <label for="companyAddress" class="form-label">Dirección postal completa</label>
              <input type="text" class="form-control" id="companyAddress" placeholder="Calle, num. - Código Postal, Población (Provincia)"
              readonly value={{user[1].direccion}}/>
              <div class="invalid-feedback">Por favor introduzca la dirección de la empresa.</div>
            </div>

            <div class="col-lg-6 col-md-12">
              <label for="emailUsuario" class="form-label">Email</label>
              <input type="email" class="form-control" id="emailUsuario" value={{user[0].email}} readonly/>
              <div class="invalid-feedback">Por favor introduzca un email válido.</div>
            </div>

            <div class="col-lg-6 col-md-12">
              <label for="contactPerson" class="form-label">Persona de contacto</label>
              <input type="text" class="form-control" id="contactPerson" placeholder="" value={{user[1].contacto}} readonly />
              <div class="invalid-feedback">Se requiere un nombre válido.</div>
            </div>

            <div class="col-lg-6 col-md-12">
              <label for="contactCargo" class="form-label">Cargo que ocupa en la empresa</label>
              <input type="text" class="form-control" id="contactCargo" placeholder="" value={{user[1].cargo}} readonly />
            </div>

            <div class="col-lg-6 col-md-12">
              <label for="companyPhone" class="form-label">
                Teléfono de contacto<span class="text-muted"></span></label>
              <input type="text" class="form-control" id="companyPhone" value={{user[1].telefono}} readonly/>
            </div>

            <div class="grupoBotones col-lg-6 col-md-12 d-grid gap-2 d-md-flex justify-content-md-evenly align-items-end">
            </div>
          </div>
      </form>
    </div>
  </div>
</div>
</div>

<app-footer></app-footer>
