<!-- Realizado por Khattari -->
<div class="pagina pb-5">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb m-0 pt-2 ml-2">
        <li class="breadcrumb-item"><a outerLinkActive="active" routerLink="..">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Creacion de admin</li>
      </ol>
    </nav>
    <h1 class="text-center mb-4 pt-2">Creación de administrador</h1>
    <div class="container p-5 formulario">
      <form class="row g-3" ngNativeValidate>
        <div class="col-md-4">
          <label for="nif" class="form-label fw-bold">nif</label>
          <input type="text" class="form-control" id="nif"
           required placeholder="nif">
        </div>
        <div class="col-md-4">
          <label for="nick" class="form-label fw-bold">nick</label>
          <input type="text" class="form-control" id="nick"
           required placeholder="nick">
        </div>
        <div class="col-md-4">
          <label for="correo" class="form-label fw-bold">correo</label>
          <input type="text" class="form-control" id="correo"
          required placeholder="correo">
        </div>
        <div class="col-md-4">
            <label for="contraseña" class="form-label fw-bold">contraseña</label>
            <input type="text" class="form-control" id="contraseña"
            required placeholder="contraseña">
        </div>
        <div class="col-md-12">
          <button type="submit" class="btn btn-primary">Crear</button>
        </div>
      </form>
    </div>
    <div id="myModal" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">Creación de administrador</h5>
          </div>
          <div class="modal-body">
              <p>El administrador ha sido creado correctamente</p>
          </div>
          <div class="modal-footer ">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
          </div>
          </div>
      </div>
  </div>
  </div>
  <app-footer></app-footer>
<app-footer></app-footer>
