
<div class="pagina pb-3">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb m-0 pt-2 ml-2">
      <li class="breadcrumb-item"><a>Inicio</a></li>
      <li class="breadcrumb-item active" aria-current="page">Empresa</li>
    </ol>
  </nav>

  <div class="container ">
    <div class="row align-items-center justify-content-evenly">

      <div class="interfaz-opcion">
        <div class="card">
          <img src="../../../../assets/image/misdatos_640.png" class="card-img-top" alt="misDatos" />
          <div class="card-body">
            <h5 class="card-title">Mis Datos</h5>
            <h6 class="card-subtitle mb-2 text-muted">Datos empresa</h6>
            <p class="card-text">
              Formulario para consultar y modificar los datos de la empresa.
            </p>
            <!-- <a class="btn btn-primary d-grid" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
            routerLink="formularioempresa">Acceder</a> -->
            <a class="btn btn-primary d-grid" routerLink="/formularioempresa" >Acceder</a>
          </div>
        </div>
      </div>

      <div class="interfaz-opcion">
        <div class="card">
          <img src="../../../../assets/image/ofertas_640.jpg" class="card-img-top" alt="ofertas" />
          <div class="card-body">
            <h5 class="card-title">Ofertas</h5>
            <h6 class="card-subtitle mb-2 text-muted">Acceso a ofertas</h6>
            <p class="card-text">
              Acceso al módulo de gestión de ofertas. Crear, modificar y consultar.
            </p>
            <a routerLink="../ofertas/testing" class="btn btn-primary d-grid">Acceder</a>
          </div>
        </div>
      </div>

      <div class="interfaz-opcion">
        <div class="card">
          <img src="../../../../assets/image/contacto_640.png" class="card-img-top" alt="misDatos" />
          <div class="card-body">
            <h5 class="card-title">Contactar</h5>
            <h6 class="card-subtitle mb-2 text-muted">Formulario contacto</h6>
            <p class="card-text">
              Formulario para contactar con el administrador del sistema.
            </p>
            <!-- <a routerLinkActive="active" routerLink="formulariocontacto" class="btn btn-primary d-grid">Acceder</a> -->
            <a class="btn btn-primary d-grid" routerLink="/formulariocontacto">Acceder</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
