
<head>
  <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
</head>
<div class="inicioS">
  <div class="d-flex p-1">
    <button type="button" class="btn btn-light col-sm-1" outerLinkActive="active" routerLink="welcome">VOLVER</button>
  </div>
  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>
  <form class="login100-form" autocomplete="off" [formGroup]="RegisterForm" (ngSubmit)="register()">
    <h3>Registro</h3>
    <div>
      <input type="text" id="inputNif" formControlName="nif" class="form-control border border-dark"
        [ngClass]="{'is-invalid': (RegisterForm.get('nif')?.touched) && !RegisterForm.get('nif')?.valid}"
        placeholder="Nif (required)">

      <!-- Mensajes de error -->
      <span class="invalid-feedback">
        <span *ngIf="RegisterForm.get('nif')?.errors?.['required']">Por favor introduce tu Nif</span>
        <span *ngIf="RegisterForm.get('nif')?.errors?.['pattern']">Por favor introduce un Nif válido</span>
      </span>
    </div>
    <div>
      <input type="text" id="inputnombre" formControlName="nombre"
        [ngClass]="{'is-invalid': (RegisterForm.get('nombre')?.touched) && !RegisterForm.get('nombre')?.valid}"
        class="form-control border border-dark" placeholder="Nombre (required)">

      <!-- Mensajes de error y control -->
      <span class="invalid-feedback">
        <span *ngIf="RegisterForm.get('nombre')?.errors?.['required']">Por favor introduce tu nombre</span>
      </span>
    </div>

    <div>
      <input type="text" id="inputEmail" formControlName="email" class="form-control border border-dark"
        [ngClass]="{'is-invalid': (RegisterForm.get('email')?.touched) && !RegisterForm.get('email')?.valid}"
        placeholder="Email (required)">

      <!-- Mensajes de error -->
      <span class="invalid-feedback">
        <span *ngIf="RegisterForm.get('email')?.errors?.['required']">Por favor introduce tu email</span>
        <span *ngIf="RegisterForm.get('email')?.errors?.['pattern']">Por favor introduce una cuenta válida</span>
      </span>
    </div>
    <div>
      <input type="password" id="inputPassword" formControlName="password"
        [ngClass]="{'is-invalid': (RegisterForm.get('password')?.touched) && !RegisterForm.get('password')?.valid}"
        class="form-control border border-dark" placeholder="Password (required)">

      <!-- Mensajes de error y control -->
      <span class="invalid-feedback">
        <span *ngIf="RegisterForm.get('password')?.errors?.['required']">Por favor introduce tu password</span>
      </span>
    </div>
    <div>
      <div>
        <input type="text" id="inputTelefono" formControlName="telefono"
          [ngClass]="{'is-invalid': (RegisterForm.get('telefono')?.touched) && !RegisterForm.get('telefono')?.valid}"
          class="form-control border border-dark" placeholder="Teléfono (required)">

        <!-- Mensajes de error y control -->
        <span class="invalid-feedback">
          <span *ngIf="RegisterForm.get('telefono')?.errors?.['required']">Por favor introduce tu teléfono</span>
        </span>
      </div>
      <br>
      <!-- TODO SI ES EMPRESA O ALUMNO -->
      <div class="">
      <p>Empresa o Estudiante</p>
      <select id="inputRol" formControlName="rol" class="form-control border border-dark" placeholder="Elige">
        <option value="2">Estudiante</option>
        <option value="3">Empresa</option>
      </select>
      <span class="invalid-feedback">
        <span *ngIf="RegisterForm.get('rol')?.errors?.['required']">Indica si eres Empresa o Alumno</span>
      </span>
    </div>
      <p>Imagen (opcional)</p>
      <!-- TODO subir imágenes en angular-->
      <input type="file" id="inputImagen" class="form-control border border-dark"
        placeholder="Imagen (opcional)" (change)="getFile($event)">

      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary" [disabled]="RegisterForm.invalid" (click)="sendFile()">Registrarse</button>
        </div>
       </div>
  </form>
