<div class="inicioS">
  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>
  <form class="login100-form" autocomplete="off" [formGroup]="RegisterForm" (ngSubmit)="register()">
    <h3>Registro</h3>
    <label for="nif">Nif</label>
    <input type="text" name ="nif" formControlName="nif" placeholder="00000000X" id="nif">

    <label for="email">Nick</label>
    <input type="text" name ="nick" formControlName="nick" placeholder="seudónimo" id="nick">

    <label for="email">Email</label>
    <input type="email" name ="email" formControlName="email" placeholder="tucorreo@ejemplo.com" id="email">

    <label for="password">Password</label>
    <input type="password" name ="password" formControlName="password" placeholder="********" id="password">

    <button type="submit">Registro</button>
    <div class="social">
      <div class="go"><i class="fab fa-google"></i>  Google</div>
    </div>
  </form>
  <footer></footer>
</div>
