<div class="pagina pb-5">
  <h1 class="text-center mb-4 pt-2">Creación de oferta</h1>
  <div class="container p-5 formulario">
    <form class="row g-3">
      <div class="col-md-4">
        <label for="titulo" class="form-label fw-bold">Titulo</label>
        <input type="text" class="form-control" id="titulo" [(ngModel)]="oferta.titulo" [ngModelOptions]="{standalone: true}"
         required placeholder="Titulo">
      </div>
      <div class="col-md-4">
        <label for="direccion" class="form-label fw-bold">Dirección</label>
        <input type="text" class="form-control" id="direccion" [(ngModel)]="oferta.lugar" [ngModelOptions]="{standalone: true}"
         required placeholder="Calle, Numero, Localidad">
      </div>
      <div class="col-md-4">
        <label for="jornada" class="form-label fw-bold">Jornada</label>
        <input type="text" class="form-control" id="jornada" [(ngModel)]="oferta.jornada" [ngModelOptions]="{standalone: true}"
        required placeholder="Tipo de jornada">
      </div>
      <div class="col-md-12">
        <label for="descripcion" class="form-label fw-bold">Descripcion</label>
        <textarea class="form-control" id="descripcion" rows="3" [(ngModel)]="oferta.descripcion" [ngModelOptions]="{standalone: true}"
         required></textarea>
      </div>
      <div class="col-md-4">
        <label for="presencial" class="form-label fw-bold">Presencial</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
          <label class="form-check-label" for="flexRadioDefault1">
            Si
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
          <label class="form-check-label" for="flexRadioDefault2">
            No
          </label>
        </div>
      </div>
      <div class="col-md-12">
        <button type="submit" (click)="guardar()" class="btn btn-primary">Publicar</button>
      </div>
    </form>
  </div>
</div>