<head>
  <meta name="referrer" content="no-referrer-when-downgrade">
</head>
<div class="inicioS">
  <div class="d-flex p-1">
    <button type="button" class="btn btn-light col-sm-1" outerLinkActive="active" routerLink="welcome">VOLVER</button>
  </div>
  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>
  <form class="login100-form" autocomplete="off" [formGroup]="loginForm" (ngSubmit)="login()">
    <h3>Login</h3>
    <div>
      <div class="avatar">
        <img src="assets/images/verde.png" alt="logo" class="avatar">
      </div>
      <input type="text" id="inputEmail" formControlName="email" class="form-control border border-dark"
        [ngClass]="{'is-invalid': (loginForm.get('email')?.touched) && !loginForm.get('email')?.valid}"
        placeholder="Email (required)">

      <!-- Mensajes de error -->
      <span class="invalid-feedback">
        <span *ngIf="loginForm.get('email')?.errors?.['required']">Por favor introduce tu email</span>
        <span *ngIf="loginForm.get('email')?.errors?.['pattern']">Por favor introduce una cuenta válida</span>
      </span>
    </div>
    <div>
      <input type="password" id="inputPassword" formControlName="password"
        [ngClass]="{'is-invalid': (loginForm.get('password')?.touched) && !loginForm.get('password')?.valid}"
        class="form-control border border-dark" placeholder="Password (required)">

      <!-- Mensajes de error y control -->
      <span class="invalid-feedback">
        <span *ngIf="loginForm.get('password')?.errors?.['required']">Por favor introduce tu password</span>
      </span>
    </div>
    <button type="submit">Login</button>

   <!-- login google -->
   <div id="g_id_onload"
   data-client_id="566999217560-mcb6k8063fdddr451c8djp0pjlvbvpnn.apps.googleusercontent.com"
   data-context="signin"
   data-ux_mode="popup"
   data-login_uri="http://localhost:9090/api/auth/loginGoogle"
   data-auto_prompt="false" (ngSubmit)="loginGoogle()">
</div>

<div class="g_id_signin"
   data-type="standard"
   data-shape="pill"
   data-theme="filled_blue"
   data-text="signin_with"
   data-size="medium"
   data-logo_alignment="left">
</div>
  </form>
