<app-menu></app-menu>
<div class="pagina pb-5">
  <h1 class="text-center mb-4 pt-2">Bienvenido</h1>
  <div class="container col-md-4 p-5 mb-5 formulario">
    <form class="row g-3 d-flex justify-content-center" ngNativeValidate autocomplete="off">

      <div class="col-md-12">
        <label for="email" class="form-label fw-bold">Correo</label>
        <input [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="email">
      </div>
      
      <div class="col-md-12">
        <label for="password" class="form-label fw-bold">Contraseña</label>
        <input [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}" type="password" class="form-control" id="password">
      </div>
      <div class="col-md-1">
      </div>
      <div class="col-md-4">
        <button type="submit" (click)="login()" class="btn btn-primary">Iniciar Sesión</button>
      </div>

      <div class="col-md-2">
      </div>

      <div class="col-md-4">
        <a outerLinkActive="active" routerLink="register"><button class="btn btn-primary">Regístrate</button></a>
      </div>

    </form>
  </div>

  <div id="myModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title">Inicio de sesión</h5>
      </div>
      <div class="modal-body">
          <p>{{response.msg}}</p>
      </div>
      <div class="modal-footer ">
          <button type="button" (click)="cerrar()" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      </div>
      </div>
    </div>
  </div> 

</div>
<app-footer></app-footer>
