<div class="inicioS">
<div class="background">
  <div class="shape"></div>
  <div class="shape"></div>
</div>
<form class="login100-form" autocomplete="off" [formGroup]="loginForm" (ngSubmit)="login()">
  <h3>Login</h3>

  <label for="email">Email</label>
  <input type="text" name ="email" formControlName="email" placeholder="tucorreo@ejemplo.com" id="email">

  <label for="password">Password</label>
  <input type="password" name ="password" formControlName="password" placeholder="********" id="password">

  <button type="submit" (click)="login()">Login</button>
  <div class="social">
    <div class="go"><i class="fab fa-google"></i>  Google</div>
  </div>
</form>
</div>
<router-outlet></router-outlet>

