.pagina {
    display: grid;
    grid-template-columns: 100%;
    gap: 40px;
    justify-items: center;
    margin: 2%;
    h1 {
        text-align: center;
    }
    .oferta {
        width: 70%;
        height: 120px;
        background-color: white;
        border-radius: 20px;
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 10px;
        text-align: center;
        transition: 1s;
    }
}
