<!-- Realizado por Khattari -->
<app-menu></app-menu>
<div class="pagina">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb m-0 pt-2 pl-2">
      <li class="breadcrumb-item"><a>Inicio</a></li>
      <li class="breadcrumb-item"><a outerLinkActive="active" routerLink="..">Ofertas</a></li>
      <li class="breadcrumb-item active" aria-current="page">Detalles</li>
    </ol>
  </nav>
  <h1 class="text-center mb-4 pt-2">{{oferta.titulo}}</h1>
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-auto">
              <table class="table table-responsive">
                  <tbody>
                    <tr>
                      <td class="fw-bold">Descripcion</td>
                      <td>{{oferta.descripcion}}</td>
                    </tr>
                    <tr>
                      <td class="fw-bold">Empresa</td>
                      <td>{{datos.nombre}}</td>
                    </tr>
                    <tr>
                      <td class="fw-bold">Direccion</td>
                      <td>{{oferta.lugar}}</td>
                    </tr>
                    <tr>
                      <td class="fw-bold">Jornada</td>
                      <td>{{oferta.jornada}}</td>
                    </tr>
                    <tr>
                      <td class="fw-bold">Telefono</td>
                      <td>{{datos.telefono}}</td>
                    </tr>
                    <tr>
                      <td class="fw-bold ultimo">Contacto</td>
                      <td class="ultimo">{{datos.contacto}}</td>
                    </tr>
                    <tr>
                    </tr>
                  </tbody>
              </table>
          </div> 
      </div>
  </div>
</div>
<app-footer></app-footer>