<div class="pagina">
  <h1 class="text-center mb-4 pt-2">{{oferta.titulo}}</h1>
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-auto">
              <table class="table table-responsive">
                  <tbody>
                    <tr>
                      <td class="fw-bold">Descripcion</td>
                      <td>{{oferta.descripcion}}</td>
                    </tr>
                    <tr>
                      <td class="fw-bold">Direccion</td>
                      <td>{{oferta.lugar}}</td>
                    </tr>
                    <tr>
                      <td class="fw-bold">Jornada</td>
                      <td>{{oferta.jornada}}</td>
                    </tr>
                    <tr>
                      <td class="fw-bold">Telefono</td>
                      <td>123555123</td>
                    </tr>
                    <tr>
                      <td class="fw-bold">Correo</td>
                      <td>ejemplo@example.com</td>
                    </tr>
                    <tr>
                      <td class="fw-bold ultimo">Contacto</td>
                      <td class="ultimo">Lorem ipsum</td>
                    </tr>
                    <tr>
                    </tr>
                  </tbody>
              </table>
          </div> 
      </div>
  </div>
</div>