.pagina {
    background-image: url('../../../../assets/image/fondo.png');
    background-size: 100% 100%;
}
a {
    all: unset;
}
.breadcrumb {
    position: relative;
    left: 1rem;
    width: 90%;
}
.breadcrumb-item {
    &:hover {
        cursor: pointer;
    }
    color: var(--colorSecundario);
    -webkit-text-stroke: 0.2px var(--colorOscuroSombra);
}
.active {
    color: gray;
}

.container {
    .opciones {
        width: 25rem;
        a {
            width: 25rem;
        }
        cursor: pointer;
        img {
            height: 21rem;
            width: 100%;
            border: 1.5px solid var(--colorSecundario);
        }
        transition: 1s;
        &:hover{
            transform: scale(1.05);
            z-index: 2;
          }
    }
    .opciones2 {
        img {
            border: 1.5px solid var(--colorOscuro);
        }
        .opcion2 {
            background-color: var(--colorSecundario);
            border: 1.5px solid var(--colorOscuro);
        }
    }
    .opcion {
        border: 1.5px solid var(--colorSecundario);
        padding: 10px;
        text-align: center;
        width: 100%;
    }
    .opcion1 {
        background-color: var(--colorOscuro);
        color: white;
    }
    
}