<footer class="p-5">
  <div class="row align-items-center">
    <div class="col-lg-3 col-md-12 col-12 mb-4 text-center logo">
      <div class="row d-flex justify-content-center">
        <img class="mb-4 col-lg-12 col-md-4 img-logo" src="../../../assets/image/logo.png">
        <div class="col-lg-12 col-md-6 nomenclatura">
          <h5>CIFP Virgen de Gracia</h5>
          <h6>Bolsa de empleo</h6>
        </div>
      </div>
    </div>
    <div class="col-lg-9 col-md-12 col-12 info">
      <div class="row d-flex justify-content-between">
        <div class="mb-3 col-lg-6 col-md-6 col-12">
          <h6 class="pb-3">CONTACTO</h6>
          <ul class="nav flex-column">
            <li class="d-flex align-items-center nav-item mb-w mb-2">
              <span class="fa-stack fa-lg me-3">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
              </span>
              Paseo de San Gregorio, 82-84. <br> 13500. Puertollano (Ciudad Real)
            </li>
            <li class="d-flex align-items-center nav-item mb-w mb-2">
              <span class="fa-stack fa-lg me-3">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa fa-mobile fa-stack-1x fa-inverse"></i>
              </span>
              926 42 62 50
            </li>
            <li class="d-flex align-items-center nav-item mb-w mb-2">
              <span class="fa-stack fa-lg me-3">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa fa-mobile fa-stack-1x fa-inverse"></i>
              </span>
              926 42 62 51
            </li>
            <li class="d-flex align-items-center nav-item mb-w mb-2">
              <span class="fa-stack fa-lg me-3">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa fa-envelope fa-stack-1x fa-inverse"></i>
              </span>
              secretaria@cifpvirgendegracia.com
            </li>
          </ul>
        </div>
        <div class="mb-3 col-lg-6 col-md-6 col-12">
          <h6 class="pb-3">INFORMACIÓN</h6>
          <ul class="nav flex-column">
            <li class="nav-item mb-w mb-2"><a href="#" class="nav-link p-0">Inicio</a></li>
            <li class="nav-item mb-w mb-2"><a href="#" class="nav-link p-0">CIFP Virgen de Gracia</a></li>
            <li class="nav-item mb-w mb-2"><a href="#" class="nav-link p-0">Enlace</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column flex-sm-row justify-content-between pt-4 mt-4 border-top redes">
    <p>&copy;  2023 CIFP Virgen de Gracia</p>
    <ul class="list-unstyled d-flex">
      <li class="ms-2"><a>
        <span class="fa-stack fa-lg me-3">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa fa-twitter fa-stack-1x fa-inverse"></i>
        </span></a>
      </li>
      <li class="ms-2"><a>
        <span class="fa-stack fa-lg me-3">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa fa-facebook fa-stack-1x fa-inverse"></i>
        </span></a>
      </li>
      <li class="ms-2"><a>
        <span class="fa-stack fa-lg me-3">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa fa-youtube-play fa-stack-1x fa-inverse"></i>
        </span></a>
      </li>
      <li class="ms-2"><a>
        <span class="fa-stack fa-lg me-3">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa fa-instagram fa-stack-1x fa-inverse"></i>
        </span></a>
      </li>
    </ul>
  </div>
</footer>

