<div class="navbar-collapse collapse menu mt-2 aparecepequenio" id="navbarExample04" style>
  <div class="info-perfil justify-content-start d-flex align-items-center ms-5 me-5 pb-4 pt-4 mb-4">
    <div>
      <img>
    </div>
    <div>
      <h5 class="mb-1">{{user[0].nombre}}</h5>
    </div>
  </div>
  <ul class="navbar-nav me-auto mb-md-0">
    <li class="nav-item pt-1 pb-1 ps-5 pe-3">
      <a class="nav-link" href=" s"><i class="fa-solid fa-house me-3"></i>&nbsp;&nbsp;&nbsp;Inicio</a>
    </li>
    <li class="nav-item pt-1 pb-1 ps-5 pe-3">
      <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
      routerLink="/creacion"><i class="fa-solid fa-building me-3"></i>&nbsp;&nbsp;&nbsp;Crear usuarios</a>
    </li>
    <li class="nav-item pt-1 pb-1 ps-5 pe-3">
      <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
      routerLink="/creacionadmin  "><i class="fa-solid fa-briefcase me-3"></i>&nbsp;&nbsp;&nbsp;Crear admin</a>
    </li>
    <li class="nav-item pt-1 pb-1 ps-5 pe-3">
      <a (click)="cerrarSesion()" class="nav-link"><i class="fa-solid fa-right-to-bracket  me-3"></i>&nbsp;&nbsp;&nbsp;Cerrar Sesión</a>
    </li>
  </ul>
</div>
<div class="desaparecepequenio menu-pc">
  <ul class="navbar text-decoration-none d-flex justify-content-end m-0 pe-lg-5">
    <li class="nav-item p-1">
      <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
      routerLink="/administracion" class="nav-link">Inicio</a>
    </li>
    <li class="nav-item p-1 m-2">
      <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
      routerLink="/creacion">Crear usuarios</a>
    </li>
    <li class="nav-item p-1 m-2">
      <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
      routerLink="/creacionadmin">Crear admin</a>
    </li>
    <li class="nav-item p-1 m-2">
      <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
      routerLink="/gestion">Gestión usuarios</a>
    </li>
    <li class="nav-item dropdown rounded-4 pestania-submenu pt-1 pb-1 ps-3 pe-3 m-2 d-flex align-items-center">
      <a class="nav-link dropdown-toggle rounded-4" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa-solid fa-user me-3"></i>{{user[0].nombre}}
      </a>
      <ul class="submenu pt-lg-5 pb-lg-3 box-shadow-sm text-center text-decoration-none dropdown-menu" data-bs-popper="static">
        <li class="p-lg-1"><a (click)="cerrarSesion()" class="text-decoration-none">Cerrar Sesión</a></li>
      </ul>
    </li>
  </ul>
</div>

