.pagina {
    background-image: url('../../../../../assets/image/fondo.png');
    background-size: 100% 100%;
}

h1 {
    -webkit-text-stroke: 1.3px var(--colorOscuroSombra);
    color: var(--colorSecundario);
}

a {
  all: unset;
}

.breadcrumb {
  position: relative;
  left: 1rem;
  width: 90%;
}
.breadcrumb-item {
  &:hover {
    cursor: pointer;
  }
  color: var(--colorSecundario);
  -webkit-text-stroke: 0.2px var(--colorOscuroSombra);
}
.active {
  color: gray;
}

.formulario {
    background-color: white;
    border: 1px solid var(--colorOscuro);
    border-radius: 20px;
    .btn-primary {
        background-color: var(--colorSecundario);
        border: 2px solid var(--colorOscuro);
        color: var(--colorOscuro);
        font-weight: bold;
    }
}

.btn-primary {
  background-color: var(--colorSecundario);
  border: 2px solid var(--colorOscuro);
  color: var(--colorOscuro);
  font-weight: bold;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    span {
      width: 7%;
    }
    p {
      font-size: larger;
      font-weight: bold;
      text-align: center;
    }
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }