a:hover{
  cursor: pointer;
}

nav{
  background-color: var(--colorSecundario);
  div{
    div{
      .logo-menu{
        width: 28%;
        img{
          width: 100%;
        }
      }
      div{
        h5{
          color: var(--colorOscuro);
          font-size: 12pt;
          font-family: var(--tipoNomenclatura);
        }
        h6{
          color: var(--colorOscuro);
          font-size: 10pt;
          font-family: var(--tipoNomenclatura);
          margin: 0;
        }
      }
    }
  }
  button{
    &.navbar-toggler{
      color: var(--colorOscuro);
      border: none;
      &:focus{
        box-shadow: none;
      }
    }
  }
  .contenedor-menu{
    width: 100%;
  }
}

@media (min-width: 576px) {
}

@media (min-width: 992px) {
  nav{
    .contenedor-menu{
      width: auto;
    }
    .desaparecepequenio{
      display: block;
    }
    div{
      .aparecepequenio{
        display: none;
      }
      div{
        .logo-menu{
          width: 28%;
          img{
            width: 100%;
          }
        }
        div{
          h5{
            color: var(--colorOscuro);
          }
          h6{
            color: var(--colorOscuro);
            margin: 0;
          }
        }
      }
    }
  }
}

.menu{
  background-color: var(--colorOscuro);
  .info-perfil{
    border-bottom: 2px solid var(--colorSecundario);
    div{
      h5{
        font-family: var(--tipoNombre);
        color: var(--colorClaro);
      }
    }
  }
  ul{
    li{
      background-color: var(--colorOscuro);
      border-left: 5px solid var(--colorOscuro);
      font-family: var(--pesoMenu);
      a{
        color: var(--colorClaro);
        font-size: var(--tamMenuEnlace);
        font-family: var(--pesoMenu);
        i{
          color: var(--colorSecundario);
        }
      }
      &:hover{
        border-left: 5px solid var(--colorSecundario);
        border-right: 5px solid var(--colorSecundario);
        background-color: var(--colorSecundarioClaro);
        font-family: var(--pesoMenuHover);
        a{
          color: var(--colorOscuro);
          i{
            color: var(--colorOscuro);
          }
        }
      }
    }
    .pestania-submenu{
      background-color: var(--colorOscuro);
      color: var(--colorSecundario);
      &:hover{
        color: var(--colorOscuro);
        border-left: 5px solid var(--colorSecundario);
        border-right: 5px solid var(--colorSecundario);
        background-color: var(--colorSecundarioClaro);
        font-family: var(--pesoMenuHover);
      }
    }
    .submenu{
      border-top: 2px solid var(--colorSecundario);
      border-bottom: 2px solid var(--colorSecundario);
      li{
        border-left: 5px solid var(--colorOscuroSombra);
        background-color: var(--colorOscuroSombra);
        font-family: var(--pesoSubmenu);
        a{
          font-family: var(--pesoSubmenu);
          color: var(--colorClaro);
        }
        &:hover{
          border-left: 5px solid var(--colorSecundario);
          border-right: 5px solid var(--colorSecundario);
          background-color: var(--colorSecundarioClaro);
          a{
            color: var(--colorOscuro);
            font-family: var(--pesoMenuHover);
          }
        }
      }
    }
    .aparecepequenio{
      display: block;
    }
  }
}
.desaparecepequenio{
  display: none;
}


@media (min-width: 992px) {
  .menu-pc{
    ul{
      list-style: none;
      text-decoration: none;
      li{
        a{
          font-family: var(--pesoMenu);
          color: var(--colorOscuro);
          font-size: var(--tamMenuEnlace);
          position: relative;
          z-index: 1;
          &:before{
            position: absolute;
            content: '';
            display: block;
            z-index: -1;
            background: var(--colorOscuro);
            width: 0;
            height: var(--LineHeight);
            bottom: var(--BottomOffset);
            left: calc(var(--LineHeight) / -2);
            transition: 0.3s cubic-bezier(.03,.3,.4,.96);
            transform: skew(-10deg);
            border-radius: 2px;
          }
          &:hover:before{
            width: calc(100% + var(--LineHeight));
          }
        }
      }
      .pestania-submenu{
        width: 160px;
        margin: 0;
        background-color: var(--colorSecundarioClaro);
        a{
          z-index: 20;
          &::before{
            display: none;
          }
        }
      }
      .submenu{
        top: -2px;
        border: none;
        border-radius: 1rem;
        z-index: 10;
        box-shadow: 0 3px 4px rgba(0,0,0,.2);
        background-color: var(--colorSecundarioClaro);
        li{
          background-color: var(--colorSecundarioClaro);
          a{
            text-decoration: none;
            color: var(--colorOscuro);
            font-family: var(--pesoSubmenu);
          }
        }
      }
      &:hover{
        .submenu{
          li{
            &:hover{
              border-left: 5px solid var(--colorOscuro);
              border-right: 5px solid var(--colorOscuro);
              background-color: var(--colorSecundario);
              a{
                color: var(--colorOscuro);
                font-size: var(--tamMenuEnlace);
                font-family: var(--pesoMenuHover);
              }
            }
          }
        }
      }
    }
  }
  .desaparecepequenio{
    display: block;
  }
}
