<nav class="navbar">
  <div class="p-0 ps-lg-5 pe-lg-5 d-flex justify-content-between align-items-center contenedor-menu">
    <div class="justify-content-start d-flex align-items-center ms-3">
      <div class="logo-menu me-2">
        <img src="../../../assets/image/logo.png">
      </div>
      <div>
        <h5 class="mb-1">CIFP Virgen de Gracia</h5>
        <h6>Bolsa de empleo</h6>
      </div>
    </div>
    <button class="navbar-toggler collapsed me-3 aparecepequenio" type="button" data-bs-toggle="collapse" data-bs-target="#navbarExample04" aria-controls="navbarExample04" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa-solid fa-bars"></i>
    </button>
  </div>
  <ng-container *ngIf="rol == 0">
    <app-menu-alumno class="contenedor-menu"></app-menu-alumno>
  </ng-container>
  <ng-container *ngIf="rol == 3">
    <app-menu-empresa class="contenedor-menu"></app-menu-empresa>
  </ng-container>
  <ng-container *ngIf="rol == 2">
    <app-menu-administrador class="contenedor-menu"></app-menu-administrador>
  </ng-container>
</nav>

