<nav class="ps-5 pe-5 p-3 d-flex align-items-center justify-content-between">
  <div class="justify-content-start d-flex">
    <div class="me-4">
      <img src="../../../assets/image/logo.png">
    </div>
    <div>
      <h5>CIFP Virgen de Gracia</h5>
      <h6>Bolsa de empleo</h6>
    </div>
  </div>
  <div>
    <ul class="nav">
      <!-- <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled">Disabled</a>
      </li> -->
      <li class="nav-item pestania-submenu pt-1 pb-1 ps-3 pe-3 ms-3 rounded-5 d-flex align-items-center">User name&nbsp;&nbsp;
        <i class="fa fa-user fa-1x" aria-hidden="true"></i>
        <i class="fa fa-caret-up flecha" aria-hidden="true"></i>
          <ul class="submenu mt-4 text-center">
            <li class="p-1"><a class="p-1">Mis datos</a></li>
            <li class="p-1"><a class="p-1">Mis ofertas</a></li>
            <li class="p-1"><a class="p-1">Contacto</a></li>
            <li class="p-1"><a class="p-1">Cerrar Sesión</a></li>
          </ul>
      </li>
    </ul>
  </div>
</nav>
