<!-- Realizado por Khattari -->
<div class="pagina pb-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb m-0 pt-2 ml-2">
          <li class="breadcrumb-item active" aria-current="page">Inicio</li>
        </ol>
    </nav>
    <div class="container">
        <div class="row align-items-center justify-content-around">
            <div class="opciones opciones1 m-4 mt-5">
                <a outerLinkActive="active" routerLink="creacion">
                    <img src="../../../../assets/image/buscar-image.jfif">
                    <div class="opcion opcion1 fw-bold">Crear usuarios</div>
                </a>
            </div>
            <div class="opciones opciones2 m-4 mt-5">
                <a outerLinkActive="active" routerLink="gestion">
                    <img src="../../../../assets/image/misofertas-image.jfif">
                    <div class="opcion opcion2 fw-bold">Gestionar usuarios</div>
                </a>
            </div>
            <div class="opciones opciones2 m-4 mt-5">
                <a outerLinkActive="active" routerLink="creacionadmin">
                    <img src="../../../../assets/image/misofertas-image.jfif">
                    <div class="opcion opcion2 fw-bold">Crear administradores</div>
                </a>
            </div>
        </div> 
    </div>
</div>
<app-footer></app-footer>