<!-- Realizado por Khattari -->
<div class="pagina">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb m-0 pt-2 pl-2">
        <li class="breadcrumb-item"><a outerLinkActive="active" routerLink="..">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Gestión</li>
      </ol>
    </nav>
    <h1 class="text-center mb-4 pt-2"></h1>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-auto">
                <table class="table table-responsive">
                    <thead>
                      <tr>
                        <td class="fw-bold">Descripcion</td>
                        <td class="fw-bold">Empresa</td>
                        <td class="fw-bold">Direccion</td>
                        <td class="fw-bold">Jornada</td>
                        <td class="fw-bold">Telefono</td>
                        <td class="fw-bold ultimo">Contacto</td>
                        <td class="ultimo"></td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="fw-bold"></td>
                        <td class="fw-bold"></td>
                        <td class="fw-bold"></td>
                        <td class="fw-bold"></td>
                        <td class="fw-bold"></td>
                        <td class="fw-bold"></td>
                      </tr>
                    </tbody>
                </table>
            </div> 
        </div>
    </div>
  </div>
  <app-footer></app-footer>