//Realizado por Khattari
.pagina {
    a {
        all: unset;
    }    
    background-image: url('../../../../assets/image/fondo.png');
    background-size: 100% 100%;
    h1 {
        -webkit-text-stroke: 1.3px var(--colorOscuroSombra);
        color: var(--colorSecundario);
    }
    .table {
        margin-bottom: 2em;
        td {
            padding-top: 1.5%;
            padding-bottom: 1.5%;
        }
        padding: 23rem;
        border: solid black;
        border-collapse: collapse;
        background-color: white;
    }

    .breadcrumb {
        position: relative;
        left: 1rem;
        width: 90%;
    }
    .breadcrumb-item {
        &:hover {
            cursor: pointer;
        }
        color: var(--colorSecundario);
        -webkit-text-stroke: 0.2px var(--colorOscuroSombra);
    }
    .active {
        color: gray;
    }

    .btn-primary {
        background-color: var(--colorSecundario);
        border: 2px solid var(--colorOscuro);
        color: var(--colorOscuro);
        font-weight: bold;
    }

    .table-containter {
        overflow: scroll;
    }
    
    td {
        padding: 1rem;
        vertical-align: middle;

        a:hover {
            cursor: pointer;
        }
    }
    
    #table-empresa {
        display: none;
    }

}